In [5]:
# Function to print all combinations of pairs of integers in a unique list
# [1,2,3] -> (1,2),(1,3),(2,3) -> 3C2 -> 3!/((3-2)!*2!)
#[1,2,3,4] -> (1,2),(1,3),(1,4),(2,3),(2,4),(3,4)

def combinations2(li):
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            print(li[i],li[j])
            
    return

li = [1,2,3]
combinations2(li)

1 2
1 3
2 3

In [2]:
def combinations3(li):
    for i in range(len(li)-2):
        for j in range(i+1,len(li)-1):
            for k in range(j+1,len(li)):
                print(li[i],li[j],li[k])
    return

li = [1,2,3,4]
combinations3(li)

1 2 3
1 2 4
1 3 4
2 3 4

In [4]:
#[1,2,3] -> [1,2,3]

def medium(li, k):
    #li3 = [[], li]
    count = 1
    while(True):
        if count == 1:
            li3 = differencePairs(li)
            if li3[0] == li3[1]:
                break
    if len(li3[0]) >= k:
        return sorted(li3[0],reverse = True)[k-1]
    return -1

# Function to identify difference of all pairs of numbers and add those differences to the same list
# It returns the updated list and original list

def differencePairs(li):
    cli = li[:]
    newelements = []
    
    for i in range(len(li)-1):
        for j in range(i+1, len(li)):
            diff = abs(li[i]-li[j])
            if diff not in li and diff not in newelements:
                newelements.append(diff)
    li.extend(newelements)    
    return [cli, li]
        
li = [1,9,8]
differencePairs(li)
medium(li, 2)

8

In [6]:
# List Data referencing vs Data copy
a = [1,2,3]
b = [1,3,2]
a = b.copy() # Data copy through indirect referencing
a = b[:] # Data copy through direct referencing

a =  b 
b.append(4)
a.append(5)
a

[1, 3, 2, 4, 5]

In [ ]:


[4,8]
[20,40,60]
[4,8,12,16]
[3,6,9,12]
# Convert the list into an Arithmetic Progression

[3,8,15]
[3,8,15,5,2,1,4,6,7,9,10,11,12,13,14]

In [7]:
 def differencePairs(li):
        c = li.copy()
        newelements = []
        for i in range(len(li)-1):
            for j in range(i+1,len(li)):
                d = abs(li[i]-li[j])
                if d not in li and d not in newelements:
                    newelements.append(d)
        li.extend(newelements)
        return [c,li]
        
li = [2,3,6,9,12,1,4,7,10,5,8,11]
differencePairs(li)

[[2, 3, 6, 9, 12, 1, 4, 7, 10, 5, 8, 11],
 [2, 3, 6, 9, 12, 1, 4, 7, 10, 5, 8, 11]]

### Set - Data Structure in Python

Represented by '{ }'

In [8]:
a = {1,2,3,4,5,6}

a.add(7) # Adding a single element to a Set

a

#for i in a:
#   print(i, end=" ") -> Accessing every element in a Set

b = {7,8,9,10,1,2,3}
li = [11,12,13]

a.update(b,li) # Adding Multiple elements

a

a.discard(13) # Remove the element in the Set

a

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [9]:
a = {1,2,3,4,5,6,10}
b = {7,8,9,1,2,3}
c = {111,123}
a.union(b) # A U B = B U A
b.union(a)
a.intersection(b)

{1, 2, 3}

In [10]:
a.isdisjoint(c)

True

In [11]:
a - b # All elements of a which are not in b

{4, 5, 6, 10}

In [12]:
b - a # All elements of b which are not in a

{7, 8, 9}

In [13]:
a = {1,5,2,4,3}
sorted(a)

[1, 2, 3, 4, 5]

In [14]:
a = {1,2,3,4,5,10}  
b = {6,7,8,9,10,1,2,3}
a^b     # Elements either in a or in b

{4, 5, 6, 7, 8, 9}

In [15]:
d = set() # Creates an empty set
d

set()

In [16]:
li = [1,2,3,4,1,2,3,4]
u = set(li)
u

{1, 2, 3, 4}

In [ ]:
Procedural : C

Object Oriented : Java, Python
    
Scripting : PHP, Python , Javascript, Shell scripting
    
Functional : Python, Haskell , Scala
    
Logic : Prolog, Lisp

### List Comprehensions

In [17]:
# N natural numbers in a list
n = 10
li = []
for i in range(1,n+1):
    li.append(i)
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
li = [i for i in range(1,11)]
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [19]:
# Apply list comprehension to store the cubes of N natural numbers
li = [i**3 for i in range(1,11)]
li

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [20]:
# Function to calculate the n factorial

def factorial(n):
    if n == 0 or n == 1:
        return 1
    return n*factorial(n-1)

#factorial(5)

# Apply list comprehension to caculate factorial of n natural numbers

n = 10
factorialList = [factorial(i) for i in range(1,n+1)]
factorialList

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [21]:
# Store cumulative sum of numbers till n in a list
# n = 3 , [1,3,6]

n = 10
cumulativeSum = [sum(range(1,i+1)) for i in range(1,n+1)]
cumulativeSum

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

In [22]:
# List Comprehension to store only leap years in a given period

st = 1970
et = 2019
leapYears = [i for i in range(st,et+1) if(i%400 == 0 ) or (i%100!=0 and i%4==0)]
leapYears

[1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016]

In [29]:
li = [1,2,3,2,1,4,4,5,6,5,5]
li.sort()
unique = []
u2 = []
unique = [li[i] for i in range(0,len(li)-1) if (li)[i] != (li)[i+1]]
#unique = [u2.append(i) for i in li if i not in u2]
unique

[1, 2, 3, 4, 5]

### Iterators

Iterable - Strings, Lists, Tuples, Sets, Dictionaries

Convert Iterable to Iterator -> iter()

For loop: 

Iterator:

In [53]:

it = iter('Python')

print('1:')
print(next(it))
print('\n')
print('2:')
print(next(it))

1:
P


2:
y

### Generators

Generator is Function

In [64]:
 
def generator():
    n = 2
    yield n
    
    n = n ** 3
    yield n
    
    n = n ** 3
    yield n
    
a = generator()

next(a)
next(a)
next(a)

512

In [79]:
def generator():
    n = 2
    while True:
    #for i in range(1,5):
        n **= 3
        yield n
        
a = generator()

for i in range(5):
    print(next(a))
    
#next(a)
#b = next(a) ** 2
#b *= next(a)
#b

8
512
134217728
2417851639229258349412352
14134776518227074636666380005943348126619871175004951664972849610340958208